/* 
Red: #e83e5f
 */

/* base */

.login-button {
  background-color: #e83e5f;
  border-color: #ff291c;
}


form.signup,
form.login {
  margin-top: 50px;
}

/* Profile */

.row.profile-header {
  background-color: #e83e5f;
  color: #fff;
}

.row.profile-header h2 { 
  color: #fff;
}